        <nav>
            <div class='navbar'>
                
                    <a href="{{site.baseurl}}/index.html" 
                    class="{% if page.url == '/' %}current{% endif %}">
                    Home
                    </a>
    
                
                    <a href="{{site.baseurl}}/index.html" 
                    class="{% if page.url == '/' %}{% endif %}">
                    Guides
                    </a>
    
                
                    <a href="{{site.baseurl}}/news.html" 
                    class="{% if page.url == '/news.html' %}current{% endif %}">
                    About
                    </a>
            </div>
        
        <hr></hr>
        
        </nav>