<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Rough Guides To Coding</title>
    <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
    <link href="{{site.baseurl}}/css/style.scss" rel="stylesheet">
    <script src="https://use.fontawesome.com/d75f41fc47.js"></script>
</head>

<body>
    <header>
        <h1 class='title'>Rough Coding<br></br>Guides</h1>
        {% include nav.html %}
    </header>
    <div class='main'>
        {{content}}
    </div>
    <footer>
        <div class='footer'>
            <div>
                <a href='https://github.com/mierz00' class='foot'><i class="fa fa-github fa-2x " aria-hidden="true"></i></a>
                <a href='mailto:mattdiflorio@gmail.com' class='foot'><i class="fa fa-envelope fa-2x " aria-hidden="true"></i></a>
                <a href='https://www.freecodecamp.com/mierz00' class='foot'><i class="fa fa-free-code-camp fa-2x " aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>